<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="{{url_for('static', filename='images/logo/logo.png')}}">
    <title>{% block title %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
    <meta charset=utf-8 />
    <link rel="stylesheet" type="text/css" media="screen"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <!-- <script class="jsbin" src="{{url_for('static', filename='assets/jquery-ui.min.js')}}"></script>
    <script class="jsbin" src="{{url_for('static', filename='assets/jquery.min.js')}}"></script>
    <meta charset=utf-8 />
    <link rel="stylesheet" type="text/css" media="screen"
        href="{{url_for('static', filename='assets/bootstrap.min.css')}}" /> -->



</head>

<body>

    {% include 'includes/_navbar.html' %}

    {% block body %} {% endblock %}

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>