<link rel="stylesheet" href="{{ url_for('static', filename='assets/bar-chart.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    {
        box-sizing: border-box;
    }

    .zoom {
        background-image: url("{{url_for('static', filename='images/logo/apk.jpg')}}");
        transition: transform .7s;
        width: 460px;
        height: 370px;
        margin: 0 auto;
    }

    .zoom:hover {
        -ms-transform: scale(1.5);
        /* IE 9 */
        -webkit-transform: scale(1.5);
        /* Safari 3-8 */
        transform: scale(1.5);
    }
</style>

{% extends 'layout.html' %}

{% block title %} Prediksi {% endblock %}

{% block body %}


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="well well-sm">
                <!-- form input -->
                <form class="form-horizontal" method="post" enctype="multipart/form-data" onsubmit="return cekform();">
                    <fieldset>
                        <legend class="text-center header">Upload Gambar Laporan JAKI
                        </legend>
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-1">
                                <p><input type="file" accept="image/*" name="file" id="file" onchange="loadFile(event)"
                                        class="form-control" required></p>
                                <center><img id="output" width="50%" /></center>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <hr>
                                <button type='submit' class="btn btn-primary btn-lg btn-app radius-4">
                                    <i class="fa fa-cogs"></i>
                                    Prediksi
                                </button>

                                <button type="reset" class="btn btn-danger btn-lg btn-app radius-4"
                                    onclick="location.href='{{ prediksi }}'">
                                    <i class="ace-icon glyphicon  glyphicon-refresh"></i>
                                    Reset
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <!-- end form input -->

            <!-- tabel probabilitas prediksi -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 style="text-align: center;">Tabel Probabilitas Prediksi</h3>
                    <hr />
                    <table width="100%" height="220px" cellspacing="50%">
                        <tr style="background-color: lightgray;">
                            <td style="text-align: center; font-weight: bold;">NO</td>
                            <td style="text-align: center; font-weight: bold;">KELAS PREDIKSI</td>
                            <td style="text-align: center; font-weight: bold;">PROBABILITAS (%)</td>
                        </tr>

                        <tr>
                            <td style="text-align: center;">1</td>
                            <td style="text-align: center;">{{classes0}}</td>
                            <td style="text-align: center;">{{prob0}}</td>
                        </tr>

                        <tr>
                            <td style="text-align: center;">2</td>
                            <td style="text-align: center;">{{classes1}}</td>
                            <td style="text-align: center;">{{prob1}}</td>
                        </tr>

                        <tr>
                            <td style="text-align: center;">3</td>
                            <td style="text-align: center;">{{classes2}}</td>
                            <td style="text-align: center;">{{prob2}}</td>
                        </tr>

                        <tr>
                            <td style="text-align: center;">4</td>
                            <td style="text-align: center;">{{classes3}}</td>
                            <td style="text-align: center;">{{prob3}}</td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">5</td>
                            <td style="text-align: center;">{{classes4}}</td>
                            <td style="text-align: center;">{{prob4}}</td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">6</td>
                            <td style="text-align: center;">{{classes5}}</td>
                            <td style="text-align: center;">{{prob5}}</td>
                        </tr>

                        <tr>
                            <td style="text-align: center; font-weight: bold; background-color: lightgray;" colspan="2">
                                TOTAL</td>
                            <td style="text-align: center; font-weight: bold;">{{total}}</td>
                        </tr>
                    </table>
                </div>
                <br><br><br>
            </div>
        </div>
        <!-- end tabel probabilitas prediksi -->

        <!-- Image  -->
        <div class="col-md-6">
            <div>
                <div class="panel panel-default">
                    <div class="panel-body">

                        <h3 style="text-align: center;">Gambar Laporan JAKI<i></i></h3>
                        <hr />
                        <center>

                            <img src={{image_location}} width="460" height="377" class="zoom" alt="Gambar Laporan"
                                style=" color: seashell; background-clip: padding-box;">
                        </center>
                        <hr>
                        <!-- end Image  -->

                        <!-- hasil prediksi -->
                        <h3 style="text-align: center;">Rekomendasi Kategori Laporan (Prediksi)</h3>
                        <hr />
                        <div>
                            <h4 style="margin-top: 25pt; margin-bottom: 25pt; text-align: center;">
                                Kategori
                                <b><u>{{ labels }}</b></u>
                                dengan
                                probabilitas sebesar
                                <b><u>{{ probs }}</u> (%)</b>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end hasil prediksi -->

    <!-- grafik prediksi -->
    <div class="panel panel-default">
        <div class="panel-body">
            <h3 style="text-align: center;">Grafik Probabilitas Prediksi
            </h3>
            <div class="col-md-12">
                <hr /><br><br>
                <table class="graph col-md-12">
                    <tbody>
                        <tr style="height:{{prob0}}%">
                            <th scope="row">{{classes0}}</th>
                            <td><span>{{prob0}}%</span></td>
                        </tr>
                        <tr style="height:{{prob1}}%">
                            <th scope="row">{{classes1}}</th>
                            <td><span>{{prob1}}%</span></td>
                        </tr>
                        <tr style="height:{{prob2}}%">
                            <th scope="row">{{classes2}}</th>
                            <td><span>{{prob2}}%</span></td>
                        </tr>
                        <tr style="height:{{prob3}}%">
                            <th scope="row">{{classes3}}</th>
                            <td><span>{{prob3}}%</span></td>
                        </tr>
                        <tr style="height:{{prob4}}%">
                            <th scope="row">{{classes4}}</th>
                            <td><span>{{prob4}}%</span></td>
                        </tr>
                        <tr style="height:{{prob5}}%">
                            <th scope="row">{{classes5}}</th>
                            <td><span>{{prob5}}%</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br><br><br><br><br><br>
    </div>
</div>
<!-- end grafik prediksi -->


<!-- javascript -->
<script>
    var loadFile = function (event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
    };

    $('.btn').on('click', function () {
        var $this = $(this);
        $this.button('loading');
        setTimeout(function () {
            $this.button('reset');
        }, 20000);
    });
</script>
<!-- end javascript -->

{% include 'includes/footer.html' %}
{% endblock %}